azovhotels/templates/auth/reset-success.html

{% extends "site/base.html" %}
{% block body %}
<div class="p-login">
  <div class="p-login__inner">
    <div class="p-login-form">
      <div class="form-title">
        <div class="icon icon_fa-check color-green"></div>  Все прошло успешно
      </div>
      <div class="form-line"><a href="{% url 'auth.login' %}" class="button button_block button_clean">
          <div class="icon icon_fa-angle-left"></div>  Войти в кабинет</a></div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}

dev/static/jade/django/auth/reset-success.jade
include ../../mixins/django
include ../../static/admin/mixins/form
include ../../static/admin/mixins/elements
include ../../static/admin/views/templates-form

+djExtends('"site/base.html"')

+djBlock('body')
  .p-login
    .p-login__inner
      .p-login-form
        .form-title
          .icon.icon_fa-check.color-green
          |   Все прошло успешно
        .form-line
          a.button.button_block.button_clean(href="{% url 'auth.login' %}")
            .icon.icon_fa-angle-left
            |   Войти в кабинет


+djBlock('scripts')
  //- 
