azovhotels/templates/auth/reset-pass.html

{% extends "site/base.html" %}
{% block body %}
<div class="p-login">
  <div class="p-login__inner">
    <div class="p-login-form">
      <form autocomplete="off" class="form" name="loginForm" action="./" method="post" novalidate="">{% csrf_token %}
        <div class="form-title"><span class="icon icon_fa-key"></span>  Смена пароля</div>
        <div class="form_line">{{ form.email.errors }}</div>
        <div class="form-line">
          <div class="label label_block">Пароль
          </div>
          <div class="row_table">
            <div class="row__item _w12">
              <input class="input input_block" type="password" id="loginForm" name="new_password1" ng-model="single.new_password1" ng-minlength="4" autocomplete="off"/>
            </div>
          </div>
        </div>
        <div class="form-line">
          <div class="label label_block">Введите пароль повторно
          </div>
          <div class="row_table">
            <div class="row__item _w12">
              <input class="input input_block" type="password" id="loginForm" name="new_password2" ng-model="single.new_password2"/>
            </div>
          </div>
        </div>
        <div class="form-line">
          <button type="submit" class="button button_block button_primary">Сменить пароль
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}

dev/static/jade/django/auth/reset-pass.jade
include ../../mixins/django
include ../../static/admin/mixins/form
include ../../static/admin/mixins/elements
include ../../static/admin/views/templates-form

+djExtends('"site/base.html"')

+djBlock('body')
  .p-login
    .p-login__inner
      .p-login-form
        +form(name="loginForm",
          action="./",
          method="post",
          novalidate="")
          | {% csrf_token %}
          .form-title
            span.icon.icon_fa-key
            |   Смена пароля

          .form_line
            | {{ form.email.errors }}
          +form_template_block-input("Пароль", "new_password1")(type="password",
            ng-minlength="4", autocomplete="off")
          +form_template_block-input("Введите пароль повторно",
            "new_password2")(type="password")
          .form-line
            +button.button_block.button_primary(type="submit") Сменить пароль

+djBlock('scripts')
  //- 
