static/html/admin/parts/pagination.html

<div pagination="" class="v-list-pagination"><a pagination-link="&lt;[ list.pagination.page - 1 ]&gt;" ng-if="list.pagination.page &gt; 1" class="v-list-pagination__link v-list-pagination__link_prev"><span class="icon icon_fa-angle-left"></span>Туда</a><a pagination-link="1" ng-if="list.pagination.page &gt; 1" class="v-list-pagination__link">1</a><span ng-if="list.pagination.page - 3 &gt; 1" class="v-list-pagination__text">...</span><a pagination-link="&lt;[ list.pagination.page - 2 ]&gt;" ng-if="list.pagination.page - 2 &gt; 1" class="v-list-pagination__link"><[ list.pagination.page - 2 ]></a><a pagination-link="&lt;[ list.pagination.page - 1 ]&gt;" ng-if="list.pagination.page - 1 &gt; 1" class="v-list-pagination__link"><[ list.pagination.page - 1 ]></a><span class="v-list-pagination__text v-list-pagination__text_current">Страница: <[list.pagination.page]> из <[list.pagination.pages]></span><a pagination-link="&lt;[ list.pagination.page + 1 ]&gt;" ng-if="list.pagination.pages &gt; list.pagination.page + 1" class="v-list-pagination__link"><[ list.pagination.page + 1 ]></a><a pagination-link="&lt;[ list.pagination.page + 2 ]&gt;" ng-if="list.pagination.pages &gt; list.pagination.page + 2" class="v-list-pagination__link"><[ list.pagination.page + 2 ]></a><span ng-if="list.pagination.pages &gt; list.pagination.page + 3" class="v-list-pagination__text">...</span><a pagination-link="&lt;[ list.pagination.pages ]&gt;" ng-if="list.pagination.pages &gt; list.pagination.page" class="v-list-pagination__link"><[ list.pagination.pages ]></a><a pagination-link="&lt;[ list.pagination.page + 1 ]&gt;" ng-if="list.pagination.pages &gt;= list.pagination.page + 1" class="v-list-pagination__link v-list-pagination__link_next">Сюда<span class="icon icon_fa-angle-right"></span></a></div>

dev/static/jade/static/admin/parts/pagination.jade
include ../mixins/form

.v-list-pagination(pagination='')
      a.v-list-pagination__link.v-list-pagination__link_prev(
        pagination-link="<[ list.pagination.page - 1 ]>",
        ng-if="list.pagination.page > 1")
        span.icon.icon_fa-angle-left
        | Туда

      a.v-list-pagination__link(
        pagination-link="1",
        ng-if="list.pagination.page > 1")
        | 1

      span.v-list-pagination__text(
        ng-if="list.pagination.page - 3 > 1")
        | ...

      a.v-list-pagination__link(
        pagination-link="<[ list.pagination.page - 2 ]>",
        ng-if="list.pagination.page - 2 > 1")
        | <[ list.pagination.page - 2 ]>

      a.v-list-pagination__link(
        pagination-link="<[ list.pagination.page - 1 ]>",
        ng-if="list.pagination.page - 1 > 1")
        | <[ list.pagination.page - 1 ]>

      span.v-list-pagination__text.v-list-pagination__text_current
        | Страница: <[list.pagination.page]> из <[list.pagination.pages]>

      a.v-list-pagination__link(
        pagination-link="<[ list.pagination.page + 1 ]>",
        ng-if="list.pagination.pages > list.pagination.page + 1")
        | <[ list.pagination.page + 1 ]>

      a.v-list-pagination__link(
        pagination-link="<[ list.pagination.page + 2 ]>",
        ng-if="list.pagination.pages > list.pagination.page + 2")
        | <[ list.pagination.page + 2 ]>

      span.v-list-pagination__text(
        ng-if="list.pagination.pages > list.pagination.page + 3")
        | ...

      a.v-list-pagination__link(
        pagination-link="<[ list.pagination.pages ]>",
        ng-if="list.pagination.pages > list.pagination.page")
        | <[ list.pagination.pages ]>

      a.v-list-pagination__link.v-list-pagination__link_next(
        pagination-link="<[ list.pagination.page + 1 ]>",
        ng-if="list.pagination.pages >= list.pagination.page + 1")
        | Сюда
        span.icon.icon_fa-angle-right

//- div
//-   button.button
//-     .icon.icon_fa-angle-double-left

//-   button.button(pagination-link="prev")
//-     .icon.icon_fa-angle-left

//-   .label.label_input Страница: <[list.pagination.page]> из <[list.pagination.pages]>

//-   button.button(pagination-link="next")
//-     .icon.icon_fa-angle-right

//-   button.button(pagination-link="last")
//-     .icon.icon_fa-angle-double-right
