dev/static/jade/static/admin/views/roomtypes_prices/list.jade
include ../../mixins/form
include ../../mixins/elements
include ../templates-form


.v-price-picker
  .v-price-picker__inner
    .b-heading.v-price-picker-heading
      block price-picker_heading
        .b-heading__menu
          block price-picker_heading_menu
        .b-heading__navigation
          block price-picker_heading_navigation
        .b-heading__title
          +button.button_clean(ui-sref="roomtypes.detail({id: $stateParams.roomtype, hotel: $stateParams.hotel})")
            .icon.icon_fa-chevron-left
          | Календарь цен
          +button.button_clean(ng-click="$state.go($state.current, {}, {reload: true});")
            .icon.icon_fa-refresh

    //- .v-price-picker-controls
      .v-price-picker-controls__inner
        block price-picker_controls
          .v-price-picker-controls__sidebar
            label.label.label_button С выбранным:
            block price-picker_heading_with-selected
              //- .group
                +button.button_red
                  | Удалить
                  .icon.icon_fa-trash-o

          .v-price-picker-controls__content
            block price-picker_heading_filter
              +form.row_table(ng-submit="search.submit($event)")
                .row__item
                  block price-picker_heading_filter_controls
                .row__item._w12
                  block price-picker_heading_filter_search
                  +input.input_block.group__element_first(placeholder="Поиск", ng-model="search.params.search")
                .row__item
                  +button.button_primary.group__element_last(type="submit")
                    .icon.icon_fa-search

    .v-price-picker-contents()
      block price-picker_contents
        .price-picker(price-picker="list", price-picker-date!="pricePickerDate")
          .price-picker-pagination
            +button.button_primary.price-picker-pagination__prev(ui-sref="roomtypes_prices({year: list.pagination.prev.year,\
              month: list.pagination.prev.month})")
              .icon.icon_fa-chevron-left
            span.label.label_input-as.price-picker-pagination__current
              | <[monthNames[list.pagination.month-1]]> <[list.pagination.year]>
            +button.button_primary.price-picker-pagination__next(ui-sref="roomtypes_prices({year: list.pagination.next.year,\
              month: list.pagination.next.month})")
              .icon.icon_fa-chevron-right
          ul.price-picker-calendar(
            price-picker-calendar="",
            class="<[  (pricePicker.offset > 0 ?\
              'price-picker-calendar_offset' + pricePicker.offset : '')  ]>"
            )
            li.price-picker-calendar__item(
              ng-repeat="day in pricePicker.days"
              )
              .price-picker-calendar-day(
                ng-mousedown="pricePicker.dragStart($index)",
                ng-mouseenter="pricePicker.dragOver($index)",
                ng-mouseup="pricePicker.dragEnd($index)",
                ng-class="{_active: (day.active),\
                  _filled: (day.data.rate > 0), _disabled: (day.date < pricePicker.today)}",
                )
                .price-picker-calendar-day__number
                  | <[ day.date|date:'dd' ]>
                .price-picker-calendar-day__quota
                  small
                    |  Номеров: 
                  b 
                    |   <[ day.data.available_rooms ]> 
                .price-picker-calendar-day__price
                  | <[ day.data.price ]>
                  sub.badge.badge_blue UAH

          .price-picker-overlay(ng-class="{_active: pricePicker.selected}")
            .price-picker-overlay__back(ng-click="pricePicker.selected = false;")
            .price-picker-overlay__front

              .price-picker-form
                +form(name="singleForm",
                  novalidate="",
                  form-submit="Form.create()")

                  +form_template_sided("Дата начала")
                    +form_template_hidden("date_from", "single.date_from", "pricePicker.dayStart.date | date: 'yyyy-MM-dd'")
                    .label.label_input
                      | <[pricePicker.dayStart.date | date: 'dd.MM.yyyy']>
                  +form_template_sided("Дата конца")
                    +form_template_hidden("date_to", "single.date_to", "pricePicker.dayEnd.date | date: 'yyyy-MM-dd'")
                    .label.label_input
                      | <[pricePicker.dayEnd.date | date: 'dd.MM.yyyy']>

                  +form_template_hidden("room_type", "single.room_type")

                  +form_template_parts("double")
                    +form_template_part-select("Цена", "single.rate",
                      "list.rates",
                      "price")(required="", name="rate")
                    +form_template_part-input("Доступные номера", "available_rooms",
                      "")(type="number")
                  

                  +button.button_primary.button_block(type="submit")
                    | Сохранить

static/html/admin/views/roomtypes_prices/list.html

<div class="v-price-picker">
  <div class="v-price-picker__inner">
    <div class="b-heading v-price-picker-heading">
      <div class="b-heading__menu">
      </div>
      <div class="b-heading__navigation">
      </div>
      <div class="b-heading__title">
        <button type="button" class="button button_clean" ui-sref="roomtypes.detail({id: $stateParams.roomtype, hotel: $stateParams.hotel})">
          <div class="icon icon_fa-chevron-left"></div>
        </button>Календарь цен
        <button type="button" class="button button_clean" ng-click="$state.go($state.current, {}, {reload: true});">
          <div class="icon icon_fa-refresh"></div>
        </button>
      </div>
    </div>
    <div class="v-price-picker-contents">
      <div price-picker="list" price-picker-date="pricePickerDate" class="price-picker">
        <div class="price-picker-pagination">
          <button type="button" class="button button_primary price-picker-pagination__prev" ui-sref="roomtypes_prices({year: list.pagination.prev.year,              month: list.pagination.prev.month})">
            <div class="icon icon_fa-chevron-left"></div>
          </button><span class="label label_input-as price-picker-pagination__current"><[monthNames[list.pagination.month-1]]> <[list.pagination.year]></span>
          <button type="button" class="button button_primary price-picker-pagination__next" ui-sref="roomtypes_prices({year: list.pagination.next.year,              month: list.pagination.next.month})">
            <div class="icon icon_fa-chevron-right"></div>
          </button>
        </div>
        <ul price-picker-calendar="" class="price-picker-calendar &lt;[  (pricePicker.offset &gt; 0 ?              'price-picker-calendar_offset' + pricePicker.offset : '')  ]&gt;">
          <li ng-repeat="day in pricePicker.days" class="price-picker-calendar__item">
            <div ng-mousedown="pricePicker.dragStart($index)" ng-mouseenter="pricePicker.dragOver($index)" ng-mouseup="pricePicker.dragEnd($index)" ng-class="{_active: (day.active),                  _filled: (day.data.rate &gt; 0), _disabled: (day.date &lt; pricePicker.today)}" class="price-picker-calendar-day">
              <div class="price-picker-calendar-day__number"><[ day.date|date:'dd' ]></div>
              <div class="price-picker-calendar-day__quota"><small> Номеров: </small><b>  <[ day.data.available_rooms ]> </b></div>
              <div class="price-picker-calendar-day__price"><[ day.data.price ]><sub class="badge badge_blue">UAH</sub></div>
            </div>
          </li>
        </ul>
        <div ng-class="{_active: pricePicker.selected}" class="price-picker-overlay">
          <div ng-click="pricePicker.selected = false;" class="price-picker-overlay__back"></div>
          <div class="price-picker-overlay__front">
            <div class="price-picker-form">
              <form autocomplete="off" class="form" name="singleForm" novalidate="" form-submit="Form.create()">
                <div class="form-line form-line_sided">
                  <div class="form-line_sided__inner">
                    <div class="form-line_sided__sidebar">
                      <label for="form-element-14054644256652" class="label label_input">Дата начала
                      </label>
                    </div>
                    <div class="form-line_sided__content">
                      <input type="hidden" name="date_from" form-value="pricePicker.dayStart.date | date: 'yyyy-MM-dd'" ng-model="single.date_from" class="_hidden"/>
                      <div class="label label_input"><[pricePicker.dayStart.date | date: 'dd.MM.yyyy']></div>
                    </div>
                  </div>
                </div>
                <div class="form-line form-line_sided">
                  <div class="form-line_sided__inner">
                    <div class="form-line_sided__sidebar">
                      <label for="form-element-14054644256653" class="label label_input">Дата конца
                      </label>
                    </div>
                    <div class="form-line_sided__content">
                      <input type="hidden" name="date_to" form-value="pricePicker.dayEnd.date | date: 'yyyy-MM-dd'" ng-model="single.date_to" class="_hidden"/>
                      <div class="label label_input"><[pricePicker.dayEnd.date | date: 'dd.MM.yyyy']></div>
                    </div>
                  </div>
                </div>
                <input type="hidden" name="room_type" ng-model="single.room_type" class="_hidden"/>
                <div class="form-line form-line_double">
                  <div class="form-line_double__part">
                    <label for="form-element-14054644256654" class="label label_block">Цена
                    </label>
                    <div form-select="" ng-model="single.rate" form-select-data="list.rates" class="tags tags_single">
                      <div ng-class="{_active: formSelect.active}" class="dropdown tags__dropdown">
                        <div class="row_table">
                          <div class="row__item _w12">
                            <div class="input-wrapper">
                              <input class="input input_labeled input_masked input_block group__element_first" ng-model="formSelect.filter" form-select-toggle="" id="form-element-14054644256654" size="10" name="rate" placeholder="<[ (formSelect.selected.length > 0 ? formSelect.selected[0].price : '') ]>" ng-required="!(single.rate|isFilled)"/>
                              <div ng-show="!formSelect.selected.length" class="input__label icon icon_fa-chevron-down"></div>
                              <div ng-show="formSelect.selected.length" ng-click="formSelect.remove(0)" class="input__label icon icon_fa-times"></div>
                            </div>
                          </div>
                          <div class="row__item">
                            <div for="form-element-14054644256654" class="label label_prefix <[ (singleForm['rate'].$valid) ? 'label_prefix_green' : 'label_prefix_red' ]> group__element_last">
                              <div ng-if="!(singleForm['rate'].$valid)" class="icon icon_fa-asterisk"></div>
                              <div ng-if="(singleForm['rate'].$valid)" class="icon icon_fa-check"></div>
                            </div>
                          </div>
                        </div>
                        <div class="dropdown-list">
                          <div class="dropdown-list__inner">
                            <div ng-mousedown="formSelect.prevent($event)" class="dropdown-list__body tags__dropdown-list">
                              <div ng-repeat="item in formSelect.dataFiltered" ng-class="{_active: formSelect.current == $index}" ng-click="formSelect.select($index)" ng-mouseover="formSelect.current = $index" class="dropdown-list__item"><[ item.price ]>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-line_double__part">
                    <label for="form-element-14054644256655" class="label label_block">Доступные номера
                    </label>
                    <div class="row_table">
                      <div class="row__item _w12">
                        <input class="input input_block group__element_first" type="number" id="form-element-14054644256655" required="" name="available_rooms" ng-model="single.available_rooms"/>
                      </div>
                      <div class="row__item">
                        <div for="form-element-14054644256655" class="label label_prefix <[ (singleForm['available_rooms'].$valid) ? 'label_prefix_green' : 'label_prefix_red' ]> group__element_last">
                          <div ng-if="!(singleForm['available_rooms'].$valid)" class="icon icon_fa-asterisk"></div>
                          <div ng-if="(singleForm['available_rooms'].$valid)" class="icon icon_fa-check"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <button type="submit" class="button button_primary button_block">Сохранить
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
