azovhotels/templates/site/base.html

<html id="html">
  <head>
    <title>
{% block title %}
{% endblock %}

    </title>
    <link rel="stylesheet" href="/static/css/site/style.css"/>
    <meta charset="utf-8"/>
{% block head %}
{% endblock %}

  </head>
  <body id="body" ng-app="app" class="root">
{% block body %}
{% endblock %}

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      
      ga('create', 'UA-53382761-1', 'auto');
      ga('send', 'pageview');
      
    </script>
{% block scripts %}
    <script src="/static/js/site/vendor.js"></script>
    <script src="/static/js/site/app.js"></script>
    <script src="/static/js/site/widgets/modernizr.js"></script>
    <script src="/static/js/site/widgets/datepicker.js"></script>
    <script src="/static/js/site/widgets/jquery.jcarousel.min.js"></script>
    <script src="/static/js/site/widgets/tabs.js"></script>
    <script src="/static/js/site/widgets.js"></script>
    <script src="/static/js/core/common/utils.js"></script>
    <script src="/static/js/core/common/form/form.js"></script>
    <script src="/static/js/core/common/form/element.js"></script>
    <script src="/static/js/core/common/form/input.js"></script>
    <script src="/static/js/core/common/form/select.js"></script>
    <script src="/static/js/core/common/form/checker.js"></script>
    <script src="/static/js/core/common/form/upload.js"></script>
    <script src="/static/js/core/common/form/slugify.js"></script>
    <script src="/static/js/core/common/form/submit.js"></script>
    <script src="/static/js/core/common/form/editor.js"></script>
    <script src="/static/js/core/common/form/files-list.js"></script>
    <script src="/static/js/core/common/form/validators.js"></script>
    <script src="/static/js/core/common/form/datafill.js"></script>
    <script src="/static/js/core/common/form/price-picker.js"></script>
    <script src="/static/js/core/common/form/value.js"></script>
{% block scripts_append %}
{% endblock %}

{% endblock %}

  </body>
</html>

dev/static/jade/django/site/base.jade
include ../../mixins/django
include ../../static/admin/mixins/form
include ../../static/admin/mixins/elements


html(id="html")
  head
    title
      +djBlock('title')

    link(rel="stylesheet", href="/static/css/site/style.css")
      
    meta(charset="utf-8")

    +djBlock('head')

  body.root(id="body", ng-app="app")
    +djBlock('body')


    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-53382761-1', 'auto');
      ga('send', 'pageview');

    +djBlock('scripts')
      include ./scripts

      +djBlock('scripts_append')
