dev/static/jade/django/site/hotelier.jade
include ../../mixins/django
include ../../static/admin/mixins/form
include ../../static/admin/mixins/elements
include ../../static/admin/views/templates-form

+djExtends('"site/base-front-footer-text.html"')


+djBlock('title')

+djBlock('head')

+djBlock('body-content')

  .p-hotelier(ng-controller="ViewRootCtrl")
    .p-hotelier__body
      #notifications.notifications
        .notifications__inner(notifications-list="")
          .alert(ng-repeat="item in notifications.list.slice().reverse()", class!="<[ item.type ? 'alert_' + item.type : '' ]>")
            button.alert__close(type="button", ng-click="item.remove()")
            .alert__title
              | <[ item.title ]>
            .alert__content
              | <[ item.content ]>

      .v-loading(http-request-tracker="", ng-class="{_active: httpRequestTracker.hasPendingRequests()}")
        .v-loading__inner
          .loading
            .loading__text
              | Загрузка
            .loading__spinner

      .p-hotelier-view(ui-view="view")


+djBlock('scripts')
  script(src='/static/js/admin/vendor.js')

  script(src="/static/js/core/modules.js")

  script(src='/static/js/admin/common/templates.js')

  script(src="/static/js/site/hotelier/services/Api.js")

  script(src='/static/js/site/hotelier/conf.js')
  script(src='/static/js/site/hotelier/app.js')

  //- Views
  script(src='/static/js/site/hotelier/views.js')
  script(src='/static/js/site/hotelier/views/conf.js')
  script(src='/static/js/site/hotelier/views/pagination.js')

  script(src='/static/js/site/hotelier/views/hotels.js')
  script(src='/static/js/site/hotelier/views/roomtypes.js')
  script(src='/static/js/site/hotelier/views/roomtypes_prices.js')

  script(src="/static/js/core/common/ckeditor/ckeditor.js")
  script(src="https://code.angularjs.org/1.0.8/i18n/angular-locale_ru-ru.js")

azovhotels/templates/site/hotelier.html

{% extends "site/base-front-footer-text.html" %}
{% block title %}
{% endblock %}

{% block head %}
{% endblock %}

{% block body-content %}
<div ng-controller="ViewRootCtrl" class="p-hotelier">
  <div class="p-hotelier__body">
    <div id="notifications" class="notifications">
      <div notifications-list="" class="notifications__inner">
        <div ng-repeat="item in notifications.list.slice().reverse()" class="alert <[ item.type ? 'alert_' + item.type : '' ]>">
          <button type="button" ng-click="item.remove()" class="alert__close"></button>
          <div class="alert__title"><[ item.title ]></div>
          <div class="alert__content"><[ item.content ]></div>
        </div>
      </div>
    </div>
    <div http-request-tracker="" ng-class="{_active: httpRequestTracker.hasPendingRequests()}" class="v-loading">
      <div class="v-loading__inner">
        <div class="loading">
          <div class="loading__text">Загрузка</div>
          <div class="loading__spinner"></div>
        </div>
      </div>
    </div>
    <div ui-view="view" class="p-hotelier-view"></div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script src="/static/js/admin/vendor.js"></script>
<script src="/static/js/core/modules.js"></script>
<script src="/static/js/admin/common/templates.js"></script>
<script src="/static/js/site/hotelier/services/Api.js"></script>
<script src="/static/js/site/hotelier/conf.js"></script>
<script src="/static/js/site/hotelier/app.js"></script>
<script src="/static/js/site/hotelier/views.js"></script>
<script src="/static/js/site/hotelier/views/conf.js"></script>
<script src="/static/js/site/hotelier/views/pagination.js"></script>
<script src="/static/js/site/hotelier/views/hotels.js"></script>
<script src="/static/js/site/hotelier/views/roomtypes.js"></script>
<script src="/static/js/site/hotelier/views/roomtypes_prices.js"></script>
<script src="/static/js/core/common/ckeditor/ckeditor.js"></script>
<script src="https://code.angularjs.org/1.0.8/i18n/angular-locale_ru-ru.js"></script>
{% endblock %}
