dev/static/jade/django/site/list-articles.jade
include ../../mixins/django
include ../../static/admin/mixins/form
include ../../static/admin/mixins/elements
include ../../static/admin/views/templates-form

+djExtends('"site/base-front-footer-text.html"')

| {% load main %}

+djBlock('title')

+djBlock('head')

+djBlock('body-content')

  .content
    .content__body
      //- .p-list-breadcrumbs
        a(href="#") Главная
        |  /  
        a(href="#") Бердянск
        |  / 
        a(href="#") Отели
        |  / 
        span Отель

      .p-article
        h2 Статьи

        .p-article-list
          +djFor('article in objects')
            .p-article-list__item
              a.p-article-list__item__title(href="{% url 'site.pages-detail' article.id article.slug %}") {{article.title}}
              .p-article-list__item__content {{article.content|default:''|truncatewords_html:80|safe}}
              .p-article-list__item__more
                a(href="{% url 'site.pages-detail' article.id article.slug %}") Подробнее

        .p-list-catalog__pagination
          +djIf('pagination.positions.prev')
            a(href="{% url 'site.articles-list' %}?page=pagination.positions.prev")
              .icon.icon_fa-angle-left
              |   Предыдущая страница
          span Страница {{pagination.page}} из {{pagination.pages}}
          +djIf('pagination.positions.next')
            a(href="{% url 'site.articles-list' %}?page=pagination.positions.next")
              | Следующая страница    
              .icon.icon_fa-angle-right

  

azovhotels/templates/site/list-articles.html

{% extends "site/base-front-footer-text.html" %}{% load main %}
{% block title %}
{% endblock %}

{% block head %}
{% endblock %}

{% block body-content %}
<div class="content">
  <div class="content__body">
    <div class="p-article">
      <h2>Статьи</h2>
      <div class="p-article-list">
{% for article in objects %}
        <div class="p-article-list__item"><a href="{% url 'site.pages-detail' article.id article.slug %}" class="p-article-list__item__title">{{article.title}}</a>
          <div class="p-article-list__item__content">{{article.content|default:''|truncatewords_html:80|safe}}</div>
          <div class="p-article-list__item__more"><a href="{% url 'site.pages-detail' article.id article.slug %}">Подробнее</a></div>
        </div>
{% endfor %}

      </div>
      <div class="p-list-catalog__pagination">
{% if pagination.positions.prev %}<a href="{% url 'site.articles-list' %}?page=pagination.positions.prev">
          <div class="icon icon_fa-angle-left"></div>  Предыдущая страница</a>
{% endif %}
<span>Страница {{pagination.page}} из {{pagination.pages}}</span>
{% if pagination.positions.next %}<a href="{% url 'site.articles-list' %}?page=pagination.positions.next">Следующая страница    
          <div class="icon icon_fa-angle-right"></div></a>
{% endif %}

      </div>
    </div>
  </div>
</div>
{% endblock %}
