dev/static/jade/django/site/list-hotels.jade
include ../../mixins/django
include ../../static/admin/mixins/form
include ../../static/admin/mixins/elements
include ../../static/admin/views/templates-form

+djExtends('"site/base-front-footer-text.html"')

| {% load main %}

+djBlock('title')

+djBlock('head')

+djBlock('body-content')

  .content
    .content__body
      //- .p-list-breadcrumbs
        a(href="#") Главная
        |  /  
        a(href="#") Бердянск
        |  / 
        span Отели

      .p-list-content
        .p-list-content__inner
          .p-list-content__sidebar
            form.p-list-search(action="{% url 'site.hotels-list' %}", method="post")
              | {% csrf_token %}
              .p-list-search__title Поиск отелей

              .form-line.form-line_small
                .input-wrapper.input-wrapper__block_hard
                  +input(placeholder="Пункт назначения", name="destination", type="text", value="{{request.COOKIES.destination}}").input_block
                  .label.label_block.label_hint Пункт назначения, отель, объект или адрес

              .form-line.form-line_small
                .label.label_block Время пребывания
                .form-line_double
                  .form-line_double__part
                    .input-wrapper.input-wrapper__block_hard
                      .input_labeled_icon-icon.input_labeled_icon-icon_calendar
                      +input(placeholder="прибытие", name="date_arrival", type="text", value="{{request.COOKIES.date_arrival}}")#datepicker_search_start.input_labeled_icon.input_block

                  .form-line_double__part
                    .input-wrapper.input-wrapper__block_hard
                      .input_labeled_icon-icon.input_labeled_icon-icon_calendar
                      +input(placeholder="выезд", name="date_leave", type="text", value="{{request.COOKIES.date_leave}}")#datepicker_search_end.input_labeled_icon.input_block

              .form-line.form-line_small
                .label.label_block Количество гостей
                .input-wrapper.input-wrapper__block_hard
                  .input_labeled_icon-icon.input_labeled_icon-icon_user
                  +input(placeholder="гости", name="guests", type="number", min="1", value="{{request.COOKIES.guests}}").input_labeled_icon.input_block

              .form-line.form-line_double.form-line_small
                button.button.button_block.button_primary(type="submit") Найти отели

          //- .p-list-filter
              .p-list-filter__title
                | Фильтровать

              .form-line(ng-init!="hotels_list_filter_range = [300, 700];")
                .label.label_input.input_block Цена за 1 ночь:

                +input.input_medium(ng-model="hotels_list_filter_range[0]", size=10, type="number", step="10" style="width: 8.5em !important;")
                |  -   
                +input.input_medium(ng-model="hotels_list_filter_range[1]", size=10, type="number", step="10" style="width: 8.5em !important;")

                div(range-slider="", min="0", max="2000", model-min="hotels_list_filter_range[0]", model-max="hotels_list_filter_range[1]", step="50")

              .form-line(ng-repeat="i in [1,2,3]")
                .label.label_input.input_block Тип отеля:

                .form-line_checkbox(ng-repeat="i in [1,2,3,4,5,6,7,8]")
                  +currentId()
                  input(type="checkbox", id=form_element_id_current)
                  label(for=form_element_id_current) база отдыха (14)



          .p-list-content__content
            .p-list-catalog
              .p-list-catalog__title
                | Отели <small>(доступно {{pagination.count}} вариант(ов) размещения)</small>

              .p-list-catalog__controls
                //- .label: b Сортировать:
                //- .p-list-catalog__controls-list
                  .label: a(href="#") Рекомендуемые
                  .label: a(href="#") Цены
                  .label: a(href="#") Оценка по отзывам
                  .label: a(href="#") Лучшие предложения

              .p-list-catalog__list
                //- .p-list-catalog__item
                  .p-list-hotel
                    .p-list-hotel__image
                      +djWith('hotel.files.all.0 as file')
                        img(src="{{file|url_image:'medium'}}")
                      .p-list-hotel__image__label
                        | от 350 грн в сутки
                    .p-list-hotel__content
                      .p-list-hotel__city Бердяснк
                      a(href="").p-list-hotel__title Отель Критицизм
                      .p-list-hotel__marks
                        .p-list-hotel__marks-left
                          | Оценка:
                          .marks
                            .marks__item.marks__item_marked
                            .marks__item.marks__item_marked
                            .marks__item.marks__item_marked
                            .marks__item.marks__item_marked
                            .marks__item
                        .p-list-hotel__marks-right
                          | Оценка по <span class="color-red font_fat">367</span>  
                          a(href="#") отзывам
                          | : Хорошо <span class="color-red font_fat">7.6</span>
                      .p-list-hotel__about
                        | Отель «Alice» открыт для отдыхающих с 2013 года.
                        | Он располагается на территории дальней Бердянской косы рядом с уникальным природным заповедником. Отель представляет собой современный двухэтажный коттедж с просторной мансардой.
                        |   
                        | Интерьер и экстерьер здания выдержаны в английском стиле викторианской эпохи, что выгодно выделяет его среди множества других курортов. Здесь создана роскошная, изысканная обстановка, которая придется по нраву даже самым требовательным клиентам. На территории отеля оборудована удобная парковка для собственных автомобилей отдыхающих. Для тех, кто добирается общественным транспортом, отель предоставляет собственный микроавтобус для трансфера от Ж/Д вокзала.

                +djFor('hotel in objects')
                  .p-list-catalog__item
                    .p-list-hotel
                      a(href="{% url 'site.hotels-detail' id=hotel.id slug=hotel.slug %}").p-list-hotel__image
                        img(src="{{hotel.related_data.view_file.urls.medium}}")
                        .p-list-hotel__image__label
                          | от {{hotel.min_price|default:hotel.default_price|floatformat}} грн в сутки
                      .p-list-hotel__content
                        .p-list-hotel__city {{hotel.related_data.city.name}}
                        a(href="{% url 'site.hotels-detail' id=hotel.id slug=hotel.slug %}").p-list-hotel__title {{hotel.title}}
                        .p-list-hotel__marks
                          .p-list-hotel__marks-left
                            | Оценка:
                            .marks
                              +djFor('i in hotel.stars_category|get_range')
                                .marks__item.marks__item_marked
                              +djFor('i in 5|subtract:hotel.stars_category|get_range')
                                .marks__item
                          //- .p-list-hotel__marks-right
                            | Оценка по <span class="color-red font_fat">367</span>  
                            a(href="#") отзывам
                            | : Хорошо <span class="color-red font_fat">7.6</span>
                        .p-list-hotel__about {{hotel.about_short|default:'Описание отсутствует.'}}

                  | {% empty %}
                  span Подходящие отели не найдены, попробуйте изменить ваш запрос.

              .p-list-catalog__pagination
                +djIf('pagination.positions.prev')
                  a(href="{% url 'site.hotels-list' %}?page=pagination.positions.prev")
                    .icon.icon_fa-angle-left
                    |   Предыдущая страница
                span Страница {{pagination.page}} из {{pagination.pages}}
                +djIf('pagination.positions.next')
                  a(href="{% url 'site.hotels-list' %}?page=pagination.positions.next")
                    | Следующая страница    
                    .icon.icon_fa-angle-right

  

azovhotels/templates/site/list-hotels.html

{% extends "site/base-front-footer-text.html" %}{% load main %}
{% block title %}
{% endblock %}

{% block head %}
{% endblock %}

{% block body-content %}
<div class="content">
  <div class="content__body">
    <div class="p-list-content">
      <div class="p-list-content__inner">
        <div class="p-list-content__sidebar">
          <form action="{% url 'site.hotels-list' %}" method="post" class="p-list-search">{% csrf_token %}
            <div class="p-list-search__title">Поиск отелей</div>
            <div class="form-line form-line_small">
              <div class="input-wrapper input-wrapper__block_hard">
                <input class="input input_block" placeholder="Пункт назначения" name="destination" type="text" value="{{request.COOKIES.destination}}"/>
                <div class="label label_block label_hint">Пункт назначения, отель, объект или адрес</div>
              </div>
            </div>
            <div class="form-line form-line_small">
              <div class="label label_block">Время пребывания</div>
              <div class="form-line_double">
                <div class="form-line_double__part">
                  <div class="input-wrapper input-wrapper__block_hard">
                    <div class="input_labeled_icon-icon input_labeled_icon-icon_calendar"></div>
                    <input class="input input_labeled_icon input_block" placeholder="прибытие" name="date_arrival" type="text" value="{{request.COOKIES.date_arrival}}" id="datepicker_search_start"/>
                  </div>
                </div>
                <div class="form-line_double__part">
                  <div class="input-wrapper input-wrapper__block_hard">
                    <div class="input_labeled_icon-icon input_labeled_icon-icon_calendar"></div>
                    <input class="input input_labeled_icon input_block" placeholder="выезд" name="date_leave" type="text" value="{{request.COOKIES.date_leave}}" id="datepicker_search_end"/>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-line form-line_small">
              <div class="label label_block">Количество гостей</div>
              <div class="input-wrapper input-wrapper__block_hard">
                <div class="input_labeled_icon-icon input_labeled_icon-icon_user"></div>
                <input class="input input_labeled_icon input_block" placeholder="гости" name="guests" type="number" min="1" value="{{request.COOKIES.guests}}"/>
              </div>
            </div>
            <div class="form-line form-line_double form-line_small">
              <button type="submit" class="button button_block button_primary">Найти отели</button>
            </div>
          </form>
        </div>
        <div class="p-list-content__content">
          <div class="p-list-catalog">
            <div class="p-list-catalog__title">Отели <small>(доступно {{pagination.count}} вариант(ов) размещения)</small></div>
            <div class="p-list-catalog__controls">
            </div>
            <div class="p-list-catalog__list">
{% for hotel in objects %}
              <div class="p-list-catalog__item">
                <div class="p-list-hotel"><a href="{% url 'site.hotels-detail' id=hotel.id slug=hotel.slug %}" class="p-list-hotel__image"><img src="{{hotel.related_data.view_file.urls.medium}}"/>
                    <div class="p-list-hotel__image__label">от {{hotel.min_price|default:hotel.default_price|floatformat}} грн в сутки</div></a>
                  <div class="p-list-hotel__content">
                    <div class="p-list-hotel__city">{{hotel.related_data.city.name}}</div><a href="{% url 'site.hotels-detail' id=hotel.id slug=hotel.slug %}" class="p-list-hotel__title">{{hotel.title}}</a>
                    <div class="p-list-hotel__marks">
                      <div class="p-list-hotel__marks-left">Оценка:
                        <div class="marks">
{% for i in hotel.stars_category|get_range %}
                          <div class="marks__item marks__item_marked"></div>
{% endfor %}

{% for i in 5|subtract:hotel.stars_category|get_range %}
                          <div class="marks__item"></div>
{% endfor %}

                        </div>
                      </div>
                    </div>
                    <div class="p-list-hotel__about">{{hotel.about_short|default:'Описание отсутствует.'}}</div>
                  </div>
                </div>
              </div>{% empty %}<span>Подходящие отели не найдены, попробуйте изменить ваш запрос.</span>
{% endfor %}

            </div>
            <div class="p-list-catalog__pagination">
{% if pagination.positions.prev %}<a href="{% url 'site.hotels-list' %}?page=pagination.positions.prev">
                <div class="icon icon_fa-angle-left"></div>  Предыдущая страница</a>
{% endif %}
<span>Страница {{pagination.page}} из {{pagination.pages}}</span>
{% if pagination.positions.next %}<a href="{% url 'site.hotels-list' %}?page=pagination.positions.next">Следующая страница    
                <div class="icon icon_fa-angle-right"></div></a>
{% endif %}

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
