azovhotels/templates/site/page.html

{% extends "site/base-front-footer-text.html" %}{% load main %}
{% block title %}
{% endblock %}

{% block head %}
{% endblock %}

{% block body-content %}
<div class="content">
  <div class="content__body">
    <div class="p-page">
      <div class="p-page__title">{{page.title}}</div>
      <div class="p-page__content">{{page.content|safe}}</div>
    </div>
  </div>
</div>
{% endblock %}

dev/static/jade/django/site/page.jade
include ../../mixins/django
include ../../static/admin/mixins/form
include ../../static/admin/mixins/elements
include ../../static/admin/views/templates-form

+djExtends('"site/base-front-footer-text.html"')

| {% load main %}

+djBlock('title')

+djBlock('head')

+djBlock('body-content')

  .content
    .content__body
      //- .p-list-breadcrumbs
        a(href="#") Главная
        |  /  
        a(href="#") Бердянск
        |  / 
        a(href="#") Отели
        |  / 
        span Отель

      .p-page
        .p-page__title {{page.title}}
        .p-page__content {{page.content|safe}}

  
