dev/static/jade/static/admin/template/datepicker/datepicker.jade
table.datepicker
  thead
    tr.align-center
      th
        button.button.button_pull-right(type="button", ng-click="move(-1)")
          span.icon.icon_fa-chevron-left

        | <[ uniqueId ]>
      th(colspan!="<[ rows[0].length - 2 + showWeekNumbers ]>")
        button.button.button_block(type="button", ng-click="toggleMode()")
          strong
            | <[ title ]>
      th
        button.button.button_pull-left(type="button", ng-click="move(1)")
          span.icon.icon_fa-chevron-right

    tr.align-center(ng-show!="labels.length > 0")
      th(ng-show="showWeekNumbers")
        | #
      th(ng-repeat="label in labels")
        | <[ label ]>
    
  tbody
    tr(ng-repeat="row in rows")
      td.align-center(ng-show="showWeekNumbers")
        em
          | <[ getWeekNumber(row) ]>
      td.align-center(ng-repeat="dt in row")
        button.button(type="button", style="width:100%;",
          ng-class="{_active: dt.selected, _disabled: dt.disabled,\
            button_clean: dt.secondary, _focus: isActive(td)}",
          ng-click="select(dt.date)",
          ng-disabled="dt.disabled")
          span(ng-class="{muted: dt.secondary}")
            | <[ dt.label ]>

azovhotels/static/html/admin/template/datepicker/datepicker.html

<table class="datepicker">
  <thead>
    <tr class="align-center">
      <th>
        <button type="button" ng-click="move(-1)" class="button button_pull-right"><span class="icon icon_fa-chevron-left"></span></button><[ uniqueId ]>
      </th>
      <th colspan="<[ rows[0].length - 2 + showWeekNumbers ]>">
        <button type="button" ng-click="toggleMode()" class="button button_block"><strong><[ title ]></strong></button>
      </th>
      <th>
        <button type="button" ng-click="move(1)" class="button button_pull-left"><span class="icon icon_fa-chevron-right"></span></button>
      </th>
    </tr>
    <tr ng-show="labels.length > 0" class="align-center">
      <th ng-show="showWeekNumbers">#</th>
      <th ng-repeat="label in labels"><[ label ]></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="row in rows">
      <td ng-show="showWeekNumbers" class="align-center"><em><[ getWeekNumber(row) ]></em></td>
      <td ng-repeat="dt in row" class="align-center">
        <button type="button" style="width:100%;" ng-class="{_active: dt.selected, _disabled: dt.disabled,            button_clean: dt.secondary, _focus: isActive(td)}" ng-click="select(dt.date)" ng-disabled="dt.disabled" class="button"><span ng-class="{muted: dt.secondary}"><[ dt.label ]></span></button>
      </td>
    </tr>
  </tbody>
</table>
