static/html/admin/template/datepicker/popup.html

<div ng-class="{_active: isOpen}" class="dropdown-list">
  <div class="dropdown-list__inner">
    <div datepicker-dropdown="" class="dropdown-list__body datepicker-popup">
      <div ng-transclude="ng-transclude"></div>
      <div class="datepicker-controls">
        <div class="group">
          <button ng-click="today()" class="button button_primary button_small group__element group__element_first">Сегодня</button>
          <button ng-click="clear()" class="button button_red button_small group__element group__element_last">Очистить</button>
        </div>
        <button ng-click="isOpen = false" class="button button_clean button_small">Закрыть</button>
      </div>
    </div>
  </div>
</div>

dev/static/jade/static/admin/template/datepicker/popup.jade
.dropdown-list(ng-class="{_active: isOpen}")
  .dropdown-list__inner
    .dropdown-list__body(datepicker-dropdown="").datepicker-popup
      div(ng-transclude)
      .datepicker-controls
        .group
          button.button.button_primary.button_small.group__element.group__element_first(ng-click="today()")
            | Сегодня
          button.button.button_red.button_small.group__element.group__element_last(ng-click="clear()")
            | Очистить
        button.button.button_clean.button_small(ng-click="isOpen = false")
          | Закрыть
