dev/static/jade/static/admin/views/users/detail.jade
include ../../mixins/form
include ../../mixins/elements
include ../templates-form
include form


extends ../view-single

block single_heading_title
  | Редактирование пользователя

block single_heading_navigation
  +button.button_red(ng-click="delete()")
    | Удалить 
    span.icon.icon_fa-trash-o
  +button.button_primary(ui-sref="users.create")
    .icon.icon_fa-plus

block single_content
  include ../templates-form

  +form(name="singleForm",
    novalidate="",
    form-submit="Form.update()")

    +form_template_sided('Email')
      .label.label_input <[ single.email ]>

    +form_user_phone
    +form_user_groups
    +form_user_state
    +form_user_passport
    +form_user_messages

    +form_template_submit

azovhotels/static/html/admin/views/states/detail.html

<div class="v-single">
  <div class="v-single__inner">
    <div class="b-heading v-single-heading">
      <div class="b-heading__menu">
      </div>
      <div class="b-heading__navigation">
        <button type="button" class="button button_red" ng-click="delete()">Удалить <span class="icon icon_fa-trash-o"></span>
        </button>
        <button type="button" class="button button_primary" ui-sref="states.create">
          <div class="icon icon_fa-plus"></div>
        </button>
      </div>
      <div class="b-heading__title">
        <button type="button" class="button button_clean" ng-click="history.back()">
          <div class="icon icon_fa-chevron-left"></div>
        </button>Редактирование области
      </div>
    </div>
    <div class="v-single-contents">
      <form autocomplete="off" class="form" name="singleForm" novalidate="" form-submit="Form.update()">
        <div class="form-line form-line_sided">
          <div class="form-line_sided__inner">
            <div class="form-line_sided__sidebar">
              <label for="form-element-14062060963702" class="label label_input">Название
              </label>
            </div>
            <div class="form-line_sided__content">
              <div class="row_table">
                <div class="row__item _w12">
                  <input class="input input_block group__element_first" type="text" id="form-element-14062060963702" required="required" name="name" ng-model="single.name" form-slugify="single.slug"/>
                </div>
                <div class="row__item">
                  <div for="form-element-14062060963702" class="label label_prefix <[ (singleForm['name'].$valid) ? 'label_prefix_green' : 'label_prefix_red' ]> group__element_last">
                    <div ng-if="!(singleForm['name'].$valid)" class="icon icon_fa-asterisk"></div>
                    <div ng-if="(singleForm['name'].$valid)" class="icon icon_fa-check"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="form-line form-line_sided">
          <div class="form-line_sided__inner">
            <div class="form-line_sided__sidebar">
              <label for="form-element-14062060963704" class="label label_input">Ярлык
              </label>
            </div>
            <div class="form-line_sided__content">
              <div class="row_table">
                <div class="row__item _w12">
                  <input class="input input_block group__element_first" type="text" id="form-element-14062060963704" required="required" name="slug" ng-model="single.slug"/>
                </div>
                <div class="row__item">
                  <div for="form-element-14062060963704" class="label label_prefix <[ (singleForm['slug'].$valid) ? 'label_prefix_green' : 'label_prefix_red' ]> group__element_last">
                    <div ng-if="!(singleForm['slug'].$valid)" class="icon icon_fa-asterisk"></div>
                    <div ng-if="(singleForm['slug'].$valid)" class="icon icon_fa-check"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="form-line">
          <button type="submit" class="button button_primary">Сохранить
          </button>
          <button type="button" class="button button_clean" ng-click="Form.revertChanges()">Отменить изменения
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
