static/html/admin/views/comments/list.html

<div class="v-list">
  <div class="v-list__inner">
    <div class="b-heading v-list-heading">
      <div class="b-heading__menu">
      </div>
      <div class="b-heading__navigation">
        <div class="group"></div>
        <button type="button" class="button button_primary" ui-sref="comments.create">Создать
          <div class="icon icon_fa-plus"></div>
        </button>
      </div>
      <div class="b-heading__title">
        <button type="button" class="button button_clean" ui-sref="hotels.detail({id: $stateParams.hotel})">
          <div class="icon icon_fa-chevron-left"></div>
        </button>Комментарии
        <button type="button" class="button button_clean" ng-click="$state.go($state.current, {}, {reload: true});">
          <div class="icon icon_fa-refresh"></div>
        </button>
      </div>
    </div>
    <div class="v-list-controls">
      <div class="v-list-controls__inner">
        <div class="v-list-controls__sidebar">
          <label class="label label_button">С выбранным:</label>
        </div>
        <div class="v-list-controls__content">
          <form autocomplete="off" class="form row_table" ng-submit="search.submit($event)" name="form-element-14054644024961">
            <div class="row__item">
            </div>
            <div class="row__item _w12">
              <input class="input input_block group__element_first" placeholder="Поиск" ng-model="search.params.search"/>
            </div>
            <div class="row__item">
              <button type="submit" class="button button_primary" ng-class="{group__element_last: !search.inProgress(),                      group__element: search.inProgress()}">
                <div class="icon icon_fa-search"></div>
              </button>
            </div>
            <div ng-if="search.inProgress()" class="row__item">
              <button type="button" class="button button_red" ng-click="search.clean()" ng-class="{group__element_last: search.inProgress()}">
                <div class="icon icon_fa-times"></div>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <ul class="v-list-contents">
      <li class="v-list-contents__item v-list-contents__item_title">
        <div class="row__item _wf2">
          <div form-element="" form-input="" class="checkbox">
            <input type="checkbox" ng-model="actions.selectors.master" class="checkbox__field" id="form-element-14054644024962" form-element-field="" form-input-field=""/>
            <label for="form-element-14054644024962" class="checkbox__label" ng-model="actions.selectors.master" form-checkbox="">
            </label>
          </div>
        </div>
        <div class="row__item _w3"><span ng-click="search.params.ordering = (search.params.ordering == 'user' ? '-user' : 'user'); search.submit($event)" class="v-list-contents__sortable-field">Пользователь
            <div ng-if="!(search.params.ordering|startsWith:'-user')" class="icon icon_fa-caret-down"></div>
            <div ng-if="!(search.params.ordering|startsWith:'user')" class="icon icon_fa-caret-up"></div></span>
        </div>
        <div class="row__item">Комментарий</div>
        <div class="row__item _wd2"><span ng-click="search.params.ordering = (search.params.ordering == 'vote_mark' ? '-vote_mark' : 'vote_mark'); search.submit($event)" class="v-list-contents__sortable-field">Оценка
            <div ng-if="!(search.params.ordering|startsWith:'-vote_mark')" class="icon icon_fa-caret-down"></div>
            <div ng-if="!(search.params.ordering|startsWith:'vote_mark')" class="icon icon_fa-caret-up"></div></span>
        </div>
        <div class="row__item _wf5">Управление</div>
      </li>
      <li ng-repeat="item in list.objects" ng-class="{_checked: actions.selectors.ids[item.id] == 1}" class="v-list-contents__item _highlightable">
        <div class="row__item _wf2">
          <div form-element="" form-input="" class="checkbox">
            <input type="checkbox" ng-model="actions.selectors.ids[item.id]" class="checkbox__field" id="label-checkbox-&lt;[item.id]&gt;" ng-checked="actions.selectors.master" form-element-field="" form-input-field=""/>
            <label for="label-checkbox-&lt;[item.id]&gt;" class="checkbox__label" ng-model="actions.selectors.ids[item.id]" ng-checked="actions.selectors.master" form-checkbox="">
            </label>
          </div>
        </div>
        <div class="row__item _w3"><[ item.user.email]></div>
        <div class="row__item"><[ item.content]></div>
        <div class="row__item _wd2"><[ item.vote_mark ]></div>
        <div class="row__item _wf5">
          <div class="group">
            <button type="button" class="button button_small button_green" ui-sref="comments.detail({id: item.id})">
              <div class="icon icon_fa-pencil"></div>
            </button>
          </div>
        </div>
      </li>
    </ul>
    <div pagination="" class="v-list-pagination"><a pagination-link="&lt;[ list.pagination.page - 1 ]&gt;" ng-if="list.pagination.page &gt; 1" class="v-list-pagination__link v-list-pagination__link_prev"><span class="icon icon_fa-angle-left"></span>Туда</a><a pagination-link="1" ng-if="list.pagination.page &gt; 1" class="v-list-pagination__link">1</a><span ng-if="list.pagination.page - 3 &gt; 1" class="v-list-pagination__text">...</span><a pagination-link="&lt;[ list.pagination.page - 2 ]&gt;" ng-if="list.pagination.page - 2 &gt; 1" class="v-list-pagination__link"><[ list.pagination.page - 2 ]></a><a pagination-link="&lt;[ list.pagination.page - 1 ]&gt;" ng-if="list.pagination.page - 1 &gt; 1" class="v-list-pagination__link"><[ list.pagination.page - 1 ]></a><span class="v-list-pagination__text v-list-pagination__text_current">Страница: <[list.pagination.page]> из <[list.pagination.pages]></span><a pagination-link="&lt;[ list.pagination.page + 1 ]&gt;" ng-if="list.pagination.pages &gt; list.pagination.page + 1" class="v-list-pagination__link"><[ list.pagination.page + 1 ]></a><a pagination-link="&lt;[ list.pagination.page + 2 ]&gt;" ng-if="list.pagination.pages &gt; list.pagination.page + 2" class="v-list-pagination__link"><[ list.pagination.page + 2 ]></a><span ng-if="list.pagination.pages &gt; list.pagination.page + 3" class="v-list-pagination__text">...</span><a pagination-link="&lt;[ list.pagination.pages ]&gt;" ng-if="list.pagination.pages &gt; list.pagination.page" class="v-list-pagination__link"><[ list.pagination.pages ]></a><a pagination-link="&lt;[ list.pagination.page + 1 ]&gt;" ng-if="list.pagination.pages &gt;= list.pagination.page + 1" class="v-list-pagination__link v-list-pagination__link_next">Сюда<span class="icon icon_fa-angle-right"></span></a></div>
  </div>
</div>

dev/static/jade/static/admin/views/comments/list.jade
include ../../mixins/form
include ../../mixins/elements

extends ../view-list

block list_heading_back
  +button.button_clean(ui-sref="hotels.detail({id: $stateParams.hotel})")
    .icon.icon_fa-chevron-left

block list_heading_title
  | Комментарии

block list_heading_navigation
  .group
  +button.button_primary(ui-sref="comments.create")
    | Создать
    .icon.icon_fa-plus

block list_contents_title
  .row__item._w3
    +list_field_order('user')
      | Пользователь
  .row__item
    | Комментарий
  .row__item._wd2
    +list_field_order('vote_mark')
      | Оценка

block list_contents_items
  .row__item._w3
    | <[ item.user.email]>
  .row__item
    | <[ item.content]>
  .row__item._wd2
    | <[ item.vote_mark ]>

block list_contents_items_controls
  +button.button_small.button_green(
    ui-sref="comments.detail({id: item.id})"
    )
    .icon.icon_fa-pencil
